{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h3>Past transactions</h3>
    <table>
        <thead>
            <tr>
                <th>Share symbol</th>
                <th>Price</th>
                <th>Number of shares</th>
                <th>Value</th>
                <th>Transaction type</th>
                <th>Date (YY/MM/DD)</th>
                <th>Time (HH:MM:SS)</th>
            </tr>
        </thead>

        <tbody>

        {% for summary_row in share_summary %}
            <tr>
                <td>{{ summary_row["symbol"] }}</td>
                <td>{{ summary_row["shareprice"] }}</td>
                <td>{{ summary_row["shareno"] }}</td>
                <td>{{ summary_row["value"] }}</td>
                <td>{{ summary_row["type"] }}</td>
                <td>{{ summary_row["date"] }}</td>
                <td>{{ summary_row["time"] }}</td>
            </tr>
        {% endfor %}
{% endblock %}