{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Share symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody id = "data">

        {% for holding in holdings %}
            <tr>
                <!--TO CHECK Source of error likely here-->
                <!--TO CHECK Source of error likely here-->
                <td>{{ holding["symbol"] }}</td>
                <td>{{ holding["cname"] }}</td>
                <td>{{ holding["sum(shareno)"] }}</td>
                <td>{{ holding["price"] | usd }}</td>
                <td class="share_value usd">{{ ((holding["sum(shareno)"])*(holding["price"])) | usd }}</td>
            </tr>
        {% endfor %}

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Cash:</th>
                <td>{{ cash | usd }}</td>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Grand total: </th>
                <th>{{ grand_total | usd }}</th>
            </tr>

        </tbody>
    </table>
{% endblock %}